$baseline: 4px;

$colors: (
    white: white,
    auth: orange,
    loginBg: #09caec,
    purple: #6003f5,
    rblue: royalblue,
    gray: #52575C,
    black: #131416,
    red: red,
    green: green,
    positive: #025f30,
);